{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block login %}
    {% load static %}
    {% load staticfiles %}
    <style>body {
        background-image: url({% static "/cosmo.jpg" %});
        -moz-background-size: 100%; /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%; /* Opera 9.6+ */
        background-size: 100%; /* Современные браузеры */
    {#            background-color: #506e79;#}
    }
    </style>
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Зайдите</h3>
                </div>
                <div class="panel-body">
                    <form action="/login/" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.username|add_class:"form-control input-sm"|attr:"placeholder:Username" }}
                        </div>
                        <div class="form-group">
                            {{ form.password|add_class:"form-control input-sm"|attr:"placeholder:Password" }}
                        </div>

                        <input type="submit" value="Вход" class="btn btn-info btn-block">

                        <div class="pull-right">или <button class="btn btn-link" href="/registration"><span class="glyphicon glyphicon-user"
                                                                                aria-hidden="true"></span>
                            зарегестрируйтесь</button></div>
                    </form>
                    {% if form.errors %}
                        <div class="row">
                            <div class="alert alert-error">
                                <h4>Исправте ошибки ниже:</h4>
                                {% for field in form %}
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger">
                                                <a href="#id_{{ field.name }}" class="alert-link">{{ error|escape }}</a>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}

                                {% if form.non_field_errors %}
                                    {{ form.non_field_errors }}
                                {% endif %}
                            </div>
                            </form>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}