{% extends 'base.html' %}
{% load i18n %}
{% block main_page %}
    {% load static %}
    {% load staticfiles %}
    <link rel="stylesheet"
          href="{% static "/own.css" %}"/>
    </head>
    <style>body {
        background-image: url({% static "/cosmo.jpg" %});
        -moz-background-size: 100%; /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%; /* Opera 9.6+ */
        background-size: 100%; /* Современные браузеры */
                background-color: #506e79;
    }
    </style>
    <div class="jumbotron">
        <h1 class="display-5">Иммитатор спутника БГУ</h1>
        <p>Удаленное управление имитатора СМКА</p>
        {#          <p><a class="btn btn-primary btn-lg " href="#" role="button">О проекте</a></p>#}
        {#        </div>#}
    </div>
{% endblock %}