{% extends 'base.html' %}
{% load i18n %}
{% block command %}
{% load widget_tweaks %}

    <div class="container">
        {#        <div class="starter-template">#}
        {#            <h1>ТУТ можно будет отправлять комманд</h1>#}
        {##}
        {#            <select>#}
        {#                {% for command in commands %}#}
        {#                    <option value="{{ command.command }}">#}
        {#                        {{ command.name }}#}
        {##}
        {#                    </option>#}
        {#                {% endfor %}#}
        {#            </select>#}
        {#        </div>#}
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-info">
                <h2 class="panel-heading">Информация</h2>
                {% for i in info %}
                    <p>{{ i.send_datetime }}: {{ i.command }}</p>
                {% endfor %}


            </div>
            {#          <!-- Pagination -->#}
            {#          <ul class="pagination justify-content-center mb-4">#}
            {#            <li class="page-item">#}
            {#              <a class="page-link" href="#">← Older</a>#}
            {#            </li>#}
            {#            <li class="page-item disabled">#}
            {#              <a class="page-link" href="#">Newer →</a>#}
            {#            </li>#}
            {#          </ul>#}
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <h5 class="panel-heading">Скисок комманд</h5>
                <div class="panel-body">
                    <div class="container-fluid">
                        <form action="/send_command/" method="post">{% csrf_token %}

                             <div class="row">
                                <div class="form-group">
                                    Категория команды: {{ form.category|attr:"style:width:200px;" }}
                                </div>
                            </div>
{#                            <div class="row">#}
{#                                <div class="form-group">#}
{#                                    Категория команды: {{ form.device|attr:"style:width:200px;" }}#}
{#                                </div>#}
{#                            </div>#}
                            <div class="row">
                                <div class="form-group">
                                    Комманда: {{ form.command}}
                                </div>
                            </div>

                            <input type="submit" value="Отправить" class="btn btn-info btn-block">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
{% endblock %}