{% load i18n %}
{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>SPUTNIK</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link id="bootstrap-css" rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <script src="{% static "js/bootstrap.js" %}"></script>

    {#    <style>body {#}
    {#        background-image: url("http://delaisait.ucoz.ru/_ph/13/560792267.jpg");#}
    {#        background-color: #506e79;#}
    {#    }#}
    {#    </style>#}

</head>

<body>

<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <div class="container">
        <div class="navbar-nav ">
            <a class="navbar-brand " href="/"><img height="30px" src="{% static "logo.png" %}"></a>
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li><a href="/sensors">Статистика</a></li>
                    <li><a href="/send_command">Удаленное управление</a></li>
                    {#            <li class="dropdown">#}
                    {#              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>#}
                    {#              <ul class="dropdown-menu">#}
                    {#                <li><a href="#">Action</a></li>#}
                    {#                <li><a href="#">Another action</a></li>#}
                    {#                <li><a href="#">Something else here</a></li>#}
                    {#                <li role="separator" class="divider"></li>#}
                    {#                <li class="dropdown-header">Nav header</li>#}
                    {#                <li><a href="#">Separated link</a></li>#}
                    {#                <li><a href="#">One more separated link</a></li>#}
                    {#              </ul>#}
                    {#            </li>#}
                </ul>

            {% endif %}
        </div>

        <div class="collapse navbar-collapse ">
            <ul class="navbar-nav navbar-right">
                {% if user.is_authenticated %}

                    <ul class="nav navbar-nav">
                        <li class="dropdown">


                            <a href="#" class="dropdown-toggle active"" data-toggle="dropdown" role="button"
                            aria-haspopup="true"
                            aria-expanded="false"> <span class="glyphicon glyphicon-user"
                                                         aria-hidden="true"></span> {{ user.username }} <span
                                class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><span class="glyphicon glyphicon-home"
                                                            aria-hidden="true"></span> Кабинет</a></li>
                                <li><a href='/logout'><span class="glyphicon glyphicon-log-out"
                                                            aria-hidden="true"></span> Выйти</a></li>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav">
                        <li><a href="/registration">Регистрация</a></li>
                        <li><a href='/login'>Вход</a></li>
                    </ul>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block command %} {% endblock command %}
    {% block main_page %} {% endblock main_page %}
    {% block sensors %} {% endblock sensors %}
    {% block registration %} {% endblock registration %}
    {% block login %} {% endblock login %}

</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>
</body>
</html>
